body {
    background-color: #282828;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    border: 1px solid #aaaaaa;
    width: 500px;
    min-height: 100px;
    margin: 100px;
    border-radius: 10px;
    padding: 10px;
}

#tag-input{
    background-color: transparent;
    border: none;
}
#tag-input:focus {
    outline: none;
    color: white;
}

#tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 1rem;
    padding: 4px 8px;
    background-color: #aaaaaa;
    color: white;
}

.close-btn{
    cursor: pointer;
}