@import 'tailwindcss';

#container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.box{
    padding: 1rem;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}
.box h3{
    padding: 1rem;
    font-weight: bold;
}